<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
  <meta charset="utf-8">
  <title>Magic Draft</title>
  <link rel="stylesheet" href="css/style.css">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="js/vendor/modernizr/modernizr.js"></script>
</head>
<body>
  <div class="page-container">
    <header class="page-header">
      <h1><a href="/"><span>Magic</span> Draft Simulator</a></h1>
    </header>
    <div id="mainContent" class="main-content">
      <p>Select which set you would like to draft with.</p>
      <ul id="setList" class="list-set-names">
        <li><a href="#/theros" class="theros">Theros</a></li>
        <li><a href="#/m14" class="m14">Magic 2014</a></li>
      </ul>
      <div id="options" class="options">
        <h3 class="heading">Options:</h3>
        <div id="timerOption" class="option">Use timer when picking?
          <label for="radio1">Yes </label><input value="1" name="timer" id="radio1" type="radio" checked>
          <label for="radio2">No </label><input value="0" name="timer" id="radio2" type="radio">
        </div>
      </div>
    </div>
    <footer class="page-footer">
      <small>Wizards of the Coast, Magic: The Gathering, and their logos are trademarks of Wizards of the Coast LLC in the United States and other countries. © 2013 <a href="http://company.wizards.com/">Wizards</a>. All Rights Reserved. This site is not affiliated with, endorsed, sponsored, or specifically approved by Wizards of the Coast LLC.</small>
    </footer>
  </div> <!-- end page-container -->

  <script type="text/template" id="cardTemplate">
    <img src="img/<%= img_src %>" alt="card name: <%= card_name %>, color: <%= color %>">
  </script>

  <script type="text/template" id="draftTemplate">
    <ul id="draftProgress" class="draft-progress list-unstyled">
    </ul>

    <div id="timer" class="timer">
    </div>

    <ul id="collectionNav" class="nav list-unstyled">
      <li class="active"><a href="#boosterPack">Booster Pack</a></li>
      <li><a href="#draftedCards">Your Cards</a></li>
    </ul>

    <ul id="boosterPack" class="booster-pack list-unstyled content">
    </ul>

    <div id="draftedCards" class="drafted-cards content">
      <p id="draftedInfo" class="drafted-info">
      </p>
      <div class="col set">
        <ul class="list-unstyled drafted-cards__list">
        </ul>
      </div>
    </div>
  </script>

  <script type="text/template" id="draftProgressTemplate">
    <li class="round">Round <%= round %></li>
    <li class="pack">Pack <%= pack %></li>
    <li class="pick">Pick <%= pick %></li>
  </script>

  <script type="text/template" id="timerTemplate">
    <% if (use_timer === true) { %>
    <span class="timer__title">Time: 0:</span>
    <div class="numbers">
      <div class="cell tenSecond">4 3 3 2 2 1 1 0 0</div>
      <div class="cell second">9 8 7 6 5 4 3 2 1 0 0</div>
    </div>
    <% } else { %>
    <span class="timer__title">Time: Unlimited</span>
    <% } %>
  </script>

  <script type="text/template" id="draftedInfoTemplate">
    <span class="card-total"><%= drafted_total %></span> <%= drafted_total === 1 ? 'card' : 'cards' %> | 
    <span class="creature-total"><%= creature_count %></span> <%= creature_count === 1 ? 'creature' : 'creatures' %>
  </script>

  <script type="text/template" id="postRoundTemplate">
  </script>
  
  <script src="js/vendor/jquery/jquery.js"></script>
  <script src="js/vendor/underscore/underscore.js"></script>
  <script src="js/vendor/backbone/backbone.js"></script>
  <script src="js/draft.js"></script>
  </body>
</html>
