.main-content {
  position: relative;
  padding: 1em 0;
  border: 1px solid $gold;
  border-right: none;
  border-left: none;
}

.content {
  @extend %clearfix;

  padding: 1em 0;
  background: $cream;

  @include mq($small-screen) {
    border-radius: 10px;
    border-top-left-radius: 0;
  }
}


.list-set-names {
  a {
    padding-left: 38px;
    display: inline-block;
    background-position: left center;
    background-repeat: no-repeat;
  }
  .theros {
    background-image: url(../img/branding/theros.png);
  }
  .m14 {
    background-image: url(../img/branding/m14.png);
  }
}

.options {
  .heading {
    margin-bottom: .5rem;
  }

  label {
    margin-left: 5px;
  }
}

.draft-progress {
  @extend %clearfix;
  list-style-type: disc;

  li {
    float: left;
    padding: 0 .75em 0 0;
    margin: 0 1em 1em 0;

    &:first-of-type {
      margin-left: 0;
      list-style-type: none;
    }
  }
}