

// Colors

$cream: #f1eee1;
$beige: darken(saturate($cream, 20%), 18%);
$gold: #ab8b09;
$darkgreen: #2f494b;

// media query breakpoints
$small-screen: 30em;

$small-mid-screen: 44em;

$med-screen: 58em;

$lrg-screen: 80em;

$xlrg-screen: 100em;